.wrapper {
    margin-top: 18px;
    padding-right: 72px;
    display: flex;
    .left {
        width: 667px;
        .tag {
            cursor: pointer;
            margin-top: 20px;
            font-size: 12px;
            font-weight: 15px;
            color: #3ea6ff;
            span {
                margin-right: 6px;
            }
        }
        .title {
            font-size: 18px;
            line-height: 26px;
        }
        .control {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--mainbd);
            padding-top: 4px;
            padding-bottom: 4px;
            div {
                cursor: pointer;
                background-color: var(--mainbd);
                padding: 6px 16px;
                border-radius: 30px;
                span {
                    font-size: 14px;
                    margin-left: 8px;
                }
            }
        }
        .channel {
            .channel-box {
                height: 50px;
                padding-top: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;
                .left {
                    display: flex;
                    align-items: center;
                    .channel-avatar {
                        cursor: pointer;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }
                    .channel-name {
                        cursor: pointer;
                        margin-left: 12px;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 600;
                    }
                }
                .right {
                    display: flex;
                    align-items: center;
                    .btn-sub {
                        cursor: pointer;
                        font-size: 12px;
                        height: 32px;
                        color: rgba(255, 255, 255, 0.5);
                        font-weight: 600;
                        width: 120px;
                        border-radius: 4px;
                    }
                    span {
                        cursor: pointer;
                        padding: 0px 12px;
                    }
                }
            }
        }
    }
    .right {
        padding-left: 16px;
        display: grid;
        .video-item {
            display: flex;
            margin-bottom: 12px;
            &:hover i {
                visibility: visible;
            }
            .thumbnail {
                img {
                    object-fit: cover;
                    width: 168px;
                    height: 92px;
                }
            }
            .info {
                padding-left: 8px;
                h4 {
                    color: var(--maincl);
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: 400;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                h5 {
                    margin-top: 8px;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            i {
                visibility: hidden;
                color: var(--maincl);
                padding-left: 8px;
            }
        }
    }
}
