.wrapper {
    width: 478px;
    background-color: var(--subbg);
    border: 1.5px solid #373737;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: -4px;
    .header {
        border-bottom: 1.5px solid #373737;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 0px;
        span {
            margin-left: 16px;
        }
        i {
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin-right: 16px;
            font-size: 20px;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        overflow: auto;
        .notifi-item {
            display: flex;
            padding: 16px 16px 16px 0px;
            &:hover {
                background-color: #373737;
            }
            &:hover .options {
                visibility: visible;
            }
            .dot {
                height: 48px;
                display: flex;
                align-items: center;
                padding: 0px 6px;
                i {
                    font-size: 4px;
                    color: rgb(135, 135, 245);
                }
            }
            .avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            .title {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                line-height: 20px;
                padding: 0px 12px;
                span {
                    padding-top: 8px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #aaa;
                }
            }
            .thumbnail {
                width: 86px;
                height: 64px;
                object-fit: cover;
            }
            .options {
                padding: 0px 24px;
                display: flex;
                justify-content: center;
                background-color: transparent;
                position: relative;
                visibility: hidden;
                i {
                    position: absolute;
                    font-size: 18px;
                    color: white;
                    top: 6px;
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 5px;
}
.option {
    width: 312px;
    padding: 8px 0px;
    background-color: var(--subbg);
    border-radius: 6px;
    position: relative;
    top: -56px;
    box-shadow: 0px 0px 4px black;
    .option-item {
        padding-left: 16px;
        padding-right: 12px;
        height: 36px;
        line-height: 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #373737;
        }
        i {
            padding-right: 12px;
        }
    }
}
