:root {
    --mainbg: #181818;
    --maincl: white;
    --subbg: #202020;
    --mainbd: #373737;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: var(--maincl);
    background-color: var(--mainbg);
}
button,
input {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
