.container {
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--subbg);
    z-index: 999;
}
.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 72px;
    bottom: 0;
    z-index: 1000;
}
.content {
    width: 100%;
    height: 100vh;
    padding-left: 72px;
    padding-top: 56px;
}
